<template name="crumb">
<div class="crumb">
  {{#if isEditing}}
    <div class="editor-container">
      <main class="editor">
        <section class="entry-container">
          {{> GhostEditor content}}
        </section>
      </main>
    </div>
    {{else}}
    {{#if content}}
      {{> crumbContent}}
    {{else}}
      <small>no content</small>
    {{/if}}
  {{/if}}

  {{#if isInRole 'admin'}}
    <div>
      {{#if isEditing}}
        <button type="button" class="btn btn-default save">
          Save
        </button>
        <button type="button" class="btn btn-warning cancel">
          Cancel
        </button>
      {{else}}
        <i class="fa fa-lg fa-edit edit"></i>
      {{/if}}
    </div>
  {{/if}}
</div>
</template>


<template name="crumbContent">
<div class="crumb-content">
  {{#markdown}}{{content}}{{/markdown}}
</div>
</template>
