<template name="crumb">
<div class="crumb" id={{_id}}>
  {{#if isEditing}}
    <div class="editor-container">
      <div class="editor-main editor">
        <div class="entry-container">
          {{> GhostEditor content}}
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-default save">
      Save
    </button>
    <button type="button" class="btn btn-warning cancel">
      Cancel
    </button>
  {{else}}
    <div class="container">
      {{#if content}}
        {{> crumbContent}}
      {{else}}
        <small class="crumb-content">no content</small>
      {{/if}}
      {{#if isInRole 'admin'}}
        <div class="controls">
          <i title="remove" class="fa fa-lg fa-trash text-primary remove"></i>&nbsp;&nbsp;
          <i title="move up" class="fa fa-lg fa-arrow-up text-primary moveUp"></i>&nbsp;&nbsp;
          <i title="move down" class="fa fa-lg fa-arrow-down text-primary moveDown"></i>&nbsp;&nbsp;
          <i title="edit" class="fa fa-lg fa-edit text-primary edit"></i>
        </div>
      {{/if}}
    </div>
  {{/if}}
</div>
</template>


<template name="crumbContent">
<div class="crumb-content" id={{_id}}>
  {{#markdown}}{{content}}{{/markdown}}
	<a class="affixControls" href="#">
		<i class="fa fa-lg fa-arrow-circle-up hoverOpaque scrollToTopOfCrumb"></i>
		<i class="fa fa-lg fa-compress hoverOpaque seeLess"></i>
	</a>
</div>
</template>
