<!-- we need this extra template to get a onRendered callback when the title is inserted. see post.coffee -->
<template name="postTitle">
<div class="page-header container">
	<h1>{{title}}</h1>
</div>
</template>

<template name="post">
<div id="post">
  {{#if Template.subscriptionsReady}} 
  {{#with post}}
    {{> postTitle}}
    <div class="crumbs">
      {{#each crumbs}}
        {{> crumb}}
      {{/each}}
    </div>
    {{#if isInRole 'admin'}}
      <div class="container">
        <br>
        <form id="createCrumb">
          <button type="submit" class="btn btn-default">
            Create Crumb <i class="fa fa-plus"></i>
          </button>
        </form>
      </div>
    {{/if}}
  {{/with}}
  {{else}}
    {{> spinner}}
  {{/if}}
</div>
</template>
