<template name="home">
<div id="home">
  <div class="page-header">
    <h1>Neue Welt</h1>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      Read <a href="/post/about-us">about us</a>
      <div class="projects">
        <h2>Projects</h2>
        {{#if Template.subscriptionsReady}} 
          <div class="list-group">
            {{#each posts}}
              <a href="/post/{{slug}}" class="list-group-item">
                {{title}}
                {{#if isInRole 'admin'}}
                  <span class="pull-right">
                    {{#if published}}
                      <i class="fa fa-lg fa-check-square-o togglePublish"></i>
                    {{else}}
                      <i class="fa fa-lg fa-square-o togglePublish"></i>
                    {{/if}}
                  </span>
                {{/if}}
              </a>
            {{/each}}
          </div>
          {{#if isInRole 'admin'}}
            <div class="row">
              <div class="col-xs-12 col-md-4">
                <form id="createPost">
                  <input type="text" class="form-control" name="title" placeholder="title">
                  <button type="submit" class="btn btn-default">
                    Create Post <i class="fa fa-plus"></i>
                  </button>
                </form>
              </div>
            </div>
          {{/if}}
        {{else}}
          {{> spinner}}
        {{/if}}
      </div>
      <div class="row">
        <div class="col-xs-12">
          {{#if isInRole 'admin'}}
          <a href="/sign-out">sign out</a>
          {{else}}
          <a href="/sign-in">sign in</a>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
</template>
