<template name="home">
  <div id="home">
    <div id="background">
      <div class="tint"></div>
      <img id="baum" src="/bg-baum.jpg">
      <img id="huhn" src="/bg-huhn.jpg">
    </div>
    <div class="home-body">
      <div class="content">

        <div class="brand">
          <div class="title">NEUE WELT</div>
          <div class="drop"><i class="fa fa-chevron-down"></i></div>
        </div>

        <div class="projects collapse">
          {{#if Template.subscriptionsReady}}
          <div class="project-list">

            {{#each posts}}
            <a href="/post/{{slug}}" class="project-list-item a-unstyled text-color truncate">
              {{title}}
              {{#if isInRole 'admin'}}
              <span class="project-list-item-controls">
                <i title="remove" class="fa fa-trash remove"></i>
                {{#if published}}
                <i title="unpublish" class="fa fa-check-square-o togglePublish"></i>
                {{else}}
                <i title="publish" class="fa fa-square-o togglePublish" style="margin-right:0.55em;"></i>
                {{/if}}
                <i title="move up" class="fa fa-arrow-up moveUp"></i>
                <i title="move down" class="fa fa-arrow-down moveDown"></i>
              </span>
              {{/if}}
            </a>
            {{else}}
            no projects
            {{/each}}

            {{#if isInRole 'admin'}}
            <form id="createPost" class="add-project-item">
              <input type="text" class="form-control" name="title" placeholder="project title">
            </form>
            {{/if}}
          </div>
          {{else}}
          {{> spinner}}
          {{/if}}

          {{#if currentUser}}
          <div class="user-nav">
            {{#if isInRole 'admin'}}
            <a class="a-unstyled" href="/files">
              <i class="fa fa-file"></i> files
            </a>
            <a class="a-unstyled" href="/users">
              <i class="fa fa-user"></i> users
            </a>
            {{/if}}
            <a class="a-unstyled" href="/sign-out">
              <i class="fa fa-sign-out"></i> sign out
            </a>
          </div>
          {{/if}}
        </div>
      </div>
      <div class="super-quote-ha-ha-ha">
        <p>
        leuchtende augen durch utopische penetration und kritische naivität transdisziplinär denkender säugetiere
        </p>
        <p>
        – institut für ideelle polygamie
        </p>
      </div>
    </div>
  </div>
</template>
