<template name="home">
<div id="home">
  <div>
    <div class="page-header">
      <h1>Neue Welt</h1>
    </div>
    <div class="row">
      <div class="col-xs-12">
        Read <a href="/post/about-us">about us</a>
        <div class="projects">
          <h2>Projects</h2>
          <div class="list-group">
            <a href="/post/labor-mit-utopieverdacht-2015" class="list-group-item">
              Labor mit Utopieverdacht 2015
            </a>
            <a href="/post/labor-mit-utopieverdacht-2016" class="list-group-item">
              Labor mit Utopieverdacht 2016
            </a>
          </div> 
        </div>
      </div>
    </div>
  </div>
  {{#if isInRole 'admin'}}
    <a href="/sign-out">sign out</a>
  {{else}}
    <a href="/sign-in">sign in</a>
  {{/if}}

  {{#if isInRole 'admin'}}
  <div class="admin">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <h2>Posts</h2>
        {{#if Template.subscriptionsReady}} 
          <div class="list-group">
            {{#each posts}}
              <a href="/post/{{id}}" class="list-group-item">
                {{title}}
              </a>
            {{/each}}
          </div>
          <form id="createPost">
            <input type="text" class="form-control" name="title" placeholder="title">
            <button type="submit" class="btn btn-default">
              Create Post <i class="fa fa-plus"></i>
            </button>
          </form>

        {{else}}
          {{> spinner}}
        {{/if}}
      </div>
    </div>
  </div>
  {{/if}}
</div>
</template>
