.crumb {
    margin-bottom: 1em;

  &:not(:first-child) {
    margin-top: 1em;
  }
  .container {
    position: relative;
    .controls {
      position: absolute;
      bottom: 3px;
      right: 20px;
    }
  }
  .crumb-content {
    font-size: 1.25em;
    margin-bottom: 1em;
    &[aria-expanded='false'] {
        margin-bottom: 0;
    }
    .affixControls {
      display: none;
      position: fixed;
      bottom: 0%;
      right: 0px;
      // to avoid flickering because the i elements
      // are not equally width and to force a break
      width: 38px;
      &:hover, &:focus {
        text-decoration: none;
      }
      i {
        display: block;
        padding: 10px 5px 5px 10px;
        &:last-child {
          padding-bottom: 10px;
        }
      }
      .scrollToTopOfCrumb {
        display: none;
      }
    }
    // .less {
    //     .more-or-less {
    //         bottom: -3px;
    //     }
    // }
    &[aria-expanded='false']:before {
        pointer-events: none;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
        background-image: linear-gradient(0deg, rgba(255, 255, 255, 1.0) 0%, rgba(255, 255, 255, 1.0) 1em, rgba(255, 255, 255, 0.0) 5em);
    }
    .edit, .remove, .moveUp, .moveDown {
        cursor: pointer;
        opacity: 0.5;
        &:hover {
          opacity: 1.0;
        }
    }
  }
}

.more-or-less {
    position: absolute;
    z-index: 300;
    bottom: 3px;
}
