#home {
	min-height: 100vh;
	overflow: hidden;
	background-image: url("/bg-kopf-baum.gif");
	background-size: 1432px;
	background-repeat: no-repeat;
	background-position: center center;
	#bg {
		overflow: hidden;

		width: 2000px;
		height: auto;
		max-width: 150%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: -10;
	}

	.home-body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
		font-family: @font-family-monospace;
		.content {
			font-size: 1.5em;
			width: 32em;
			max-width: 100%;
      		background-color: white;
			.brand {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				font-size: 2em;
				width: 100%;
				background-color: black;
				color: white;
				.title {
					display: inline-block;
					padding: 0.33em 0.66em;
					color: white;
				}
				.drop {
					display: inline-block;
					padding: 0.33em 0.66em;
					border-left: 2px solid white;
					cursor: pointer;
          i {
            transform-origin: 50% 54%;
          }
				}
			}
			.project-list {
				width: 100%;
				.project-list-item {
					display: block;
					width: inherit;
					padding: 0.33em 0.66em;
					color: black;
					border-top: 2px solid black;
					&:first-child {
						border-top: none;
					}
          .project-list-item-controls {
            float: right;
            i:not(:last-child) {
              margin-right: 0.4em;
            }
          }
				}
        .add-project-item {
					padding: 0.66em;
					color: black;
					border-top: 2px solid black;
        }
			}
      .user-nav {
        padding: 0em 1.0em 0.45em;
        font-size: 0.8em;
        a:not(:first-child) {
          margin-left: 2em;
        }
        #login-dropdown-list {
          float: right;
          display: inline-block;
        }
      }
		}
		.super-quote-ha-ha-ha {
			color: white;
			border-top: 2px solid white;
			font-size: 2em;
			width: 24em;
			padding: 10px;
			max-width: 100%;
			background-color: rgba(0, 0, 0, 0.7);
      p {
        margin: 0 0.7em 11px 0.7em;
      }
			p:nth-child(2) {
				text-align: right;
			}
		}
	}
}
@media screen and (max-width: 600px) {
    #home {
        background-image: url("/bg-mobile-lampenschirme.gif");
		background-size: 100%;
	    .home-body {
			justify-content: flex-start;
			align-items: flex-start;
	    }
    }

	// .brand{
	// 	position: absolute;
	// 	top: 0;
	// }

}
