@import "bootstrap/custom.bootstrap.output.import.less";
@import "simplex.import.less";

@import "bs_sidedanv.import.less";
@import "x_editable.import.less";

@import "editor.import.less";

@font-size-base: 15px;
@grid-float-breakpoint: 830px;

.crumb {
  &:not(:first-child) {
    margin-top: 1em;
  }
  .container {
    position: relative;
    .controls {
      position: absolute;
      bottom: 2px;
      right: 15px;
    }
  }
}


////////////////////////////////
// misc
.page-header, .page-header-small {
  border-bottom: none;
}

#spinner {
  height: 300px;
}

.btn-img {
  padding: 0;
  border: none;
  background: none;
  &:hover, &:focus, &:active {
    color: inherit !important;
    box-shadow: none;
  }
  -webkit-box-shadow: none;
  box-shadow: none;
}

.cursorPointer {
  cursor: pointer;
}

.hoverOpaque {
  opacity: 0.5;
  &:hover {
    opacity: 1.0;
  }
}
