@import "bootstrap/custom.bootstrap.output.import.less";
@import "simplex.import.less";

@import "bs_sidedanv.import.less";
@import "x_editable.import.less";
@import "lib/ghostdown.import.less";
@import "lib/editor.import.less";


@font-size-base: 16px;
@grid-float-breakpoint: 830px;

.crumb {
  &:not(:first-child) {
    margin-top: 1em;
  }
  .container {
    position: relative;
    .controls {
      position: absolute;
      bottom: 2px;
      right: 15px;
    }
  }
	.crumb-content {
		.affixControls {
			display: none;
			position: fixed;
			bottom: 0%;
			right: 0px;
			// to avoid flickering because the i elements
			// are not equally width and to force a break
			width: 38px;
			&:hover, &:focus {
				text-decoration: none;
			}
			i {
				display: block;
				padding: 10px 5px 5px 10px;
				&:last-child {
					padding-bottom: 10px;
				}
			}
			.scrollToTopOfCrumb {
				display: none;
			}
		}
	}
}

.fileTable {
	img {
		max-width: 80px;
	}
}

#dropArea {
	.message {
		position: absolute;
		width: 300px; //manually meassured from content
		height: 150px;
		margin-left: -150px; //margin is -0.5 * dimension
		margin-top: -75px; 
		top: 50%;
		left: 50%;
		text-align: center;
		font-size: 40px;
		opacity: 1.0;
	}
}

//fix reactive-table
.reactive-table {
	td.buttons {
		text-align: right;
	}
}
.reactive-table-navigation .page-number {
	text-align: right;
}

////////////////////////////////
// misc
.page-header, .page-header-small {
  border-bottom: none;
}

#spinner {
  height: 300px;
}

.btn-img {
  padding: 0;
  border: none;
  background: none;
  &:hover, &:focus, &:active {
    color: inherit !important;
    box-shadow: none;
  }
  -webkit-box-shadow: none;
  box-shadow: none;
}

.cursorPointer {
  cursor: pointer;
}

.hoverOpaque {
  opacity: 0.5;
  &:hover {
    opacity: 1.0;
  }
}

.a-unstyled {
	text-decoration: none;
	&:hover, &:active {
		text-decoration: none;
	}
}

.text-color {
	color: @text-color;	
	&:hover, &:active {
		color: @text-color;	
	}
}
